<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CaiMao.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>041D76FF1DDB08DE00095516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047265291DFB931800E09119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04736FA81DE2F00F004E3513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047373171DE2F468004E3513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0473A4B71D87AA1100D8FC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0473A7491D87ABFD00D8FC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0473A7571D87AD0400D8FC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0473A9E81D87B78500D8FC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0485E25B1E88AAFC000BE46C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04AEBA3D1E89F26900FC2EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A268D01A3A8C6500545B4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A268EB1A3A8C6500545B4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
